.imgcont {
  position: relative;
  z-index: 10;
  box-shadow: 5px 7px 14px 14px #00152e;
  margin: 1rem 1rem 3rem 1rem;
  border-radius: 10px;
}
.coverImag {
  animation: hoverup 8s ease infinite;
  opacity: 0.6;
  z-index: 1;
  margin-top: 2rem;
}
.imgcont:hover .coverImag {
  opacity: 0.4;
}

@keyframes hoverup {
  0% {
    top: -30px;
    opacity: 0;
  }

  50% {
    top: -35px;
    opacity: 0.6;
  }

  100% {
    top: -40px;
    opacity: 0;
  }
}
