html,
body {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navItemBox:hover .navItem {
  display: block !important;
}
.navItem {
  display: none;
}

.dropbtn {
  color: white;
  padding-right: 5px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 20px;
}

.dropdown-content a:hover {
  color: #3e9fa2;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

.dropdown:hover .dropbtn {
  color: #3e9fa2;
}
.navbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  margin-left: 10px;
}
.navbutton:hover {
  color: #3e9fa2;
}
.logo {
  margin-left: 10px;
}

#trail-section {
  background-image: linear-gradient(
      rgba(0, 21, 46, 0.562),
      rgba(0, 21, 46, 0.932)
    ),
    url("/images/trial-1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 11, 32, 0),
      rgba(0, 21, 46, 0.932)
    ),
    url(/images/tech-4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
}

main {
  background: rgb(0, 21, 46);
  width: 100%;
  min-height: 100vh;
  color: #ffffff;
}
.bg_global {
  background: url("../public/images/tech-3.jpeg");
  background-position: center;
}
footer {
  overflow: hidden;
  width: 100%;
  background: rgb(0, 21, 46);
}
